{% extends 'base.html.twig' %}

{% block title %}New Meal{% endblock %}

{% block body %}
<link href="{{ asset('css/newUserForm.css') }}" rel="stylesheet" type="text/css"/>
        {# {% include "/components/navbar.html" %} #}
        <div class="container mt-5 myform">
            <h1><img src="../../pictures/chef.png" alt="chef">Create your Meal</h1>
            {{ include('meal_user/_form.html.twig') }}
        
       

             <a  class=" btn mybtn" href="{{ path('app_meal_user_index') }}">Meals</a>
        </div>
{% endblock %}

  
