body {
    background-color: #E3E7ED;
}

.infotable {
    background-color: white;
    padding: 1rem;
}

.sidebar {
    width: 250px;
}

.activatenav {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
}

.navlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navlinks a {
    text-decoration: none;
    color: black;
    margin-top: 25px;
}

.navlinks a:hover {
    color:#6274D1;
    transition: 0.1s;
}

#admpic {
    width: 125px;
    height: 165px;
    border-radius: 50%;
    border: 2px solid black;
}

#imagecont {
    display: flex;
    justify-content: center;
}

#textcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 11fr;
}

#navbar {
    display: flex;
    justify-content: center;
}

#navbar button {
    margin-left: 1rem;
}

#heading {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center !important;
}

#button {
    display: flex;
    justify-content: end;
}

.cont {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

#head{
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}

#firstline {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    width: 400px;
}

.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    height: 75%;
  }
  
  .search button {
    float: left;
    width: 20%;
    padding: 1px;
    background: #6274D1;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
    height: 75%;
  }
  
  .search button:hover {
    background: #6274D1;
  }
  
  .search::after {
    content: "";
    clear: both;
    display: table;
  }

  .createbtn {
   height: 75% !important;
  }

  .mybtn {
    color: #fff;
    padding: 15px 25px;
    border-radius: 100px;
    background-color: #6274D1;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    cursor: pointer;
    }

  .create {
    height: 75%;
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    padding-top: 0.2rem !important;
    padding: 0 0.4rem;
  }

  .swalbtn {
    background-color: #71A92C !important;
    border: 1px solid #71A92C !important;
  }

  .tableentry {
    vertical-align: middle;
  }

  @media screen and (max-width: 1000px) {
    
  }