body {
  background-image: url("../pictures/login-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.form-control{
    border-radius: 100cm;
    box-shadow:3px 3px 3px 3px #81d89b;
}



.myform {
    margin-top: 5cm;
    margin-bottom: 5cm;
    margin-top: 0.5rem;
    background-color: white;
    width: 484px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myform h1 {
    text-align: center;
    color: #69C401;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 2cm;
}

.mybtn2 {
    width: 90px;
    margin-bottom: 1rem;
    text-align: center;
}

.mybtn {
    color: #fff;
    padding: 15px 25px;
    border-radius: 100px;
    background-color: #69C20E;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 12px;
    display: block !important;
    width: 110px;
    text-align: center;
    margin-bottom: 0.5rem;
    margin: 0.3rem auto;
    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    cursor: pointer;
    }

.btncont {
    text-align: center;
}

.swalbtn {
    background-color: #71A92C !important;
    border: 1px solid #71A92C !important;
  }

  li {
    color: red;
    list-style: none;
}

