/* body {
    background-color: #E3E7ED;
    padding-bottom: 50px;

} */

.container {
    /* background-color: rgba(255, 255, 255, 0.2); */
    padding-bottom: 50px;
}

.hline {
    margin-top: 3px;
    text-align: center;
    color: #ffffff;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
    font-size: 1.8cm;
}

.card {
    width: 80%;
    text-align: center;
    border-radius: 10px;

}

.card-title{
font-family: 'Amatic SC', cursive;
font-size: 3rem;
font-weight: 600;
}

.bold-headers{
    font-weight: 600;
}

.HMtext {
    font-family: 'Lato', sans-serif;
    font-size: large;
    color: #727272;
  }

body {
    background-image: url(../pictures/login-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*

.container {
    background-color: rgba(240, 248, 255, 0.5);
    border-radius: 20px;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
} */

/* The container <div> - needed to position the dropdown content */
/* .dropdown {
    position: relative;
    display: inline-block;
} */

/* Dropdown Content (Hidden by Default) */
/* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
} */

/* Links inside the dropdown */
/* .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} */

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {
    background-color: #ddd;
} */

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {
    display: block;
} */

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */