body {
  background-image: url(../pictures/login-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.card {
  box-shadow: #ffffff 35px 35px 30px -20px;
}

.card-title {
  font-weight: 600;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 0.8cm;
  color: #69C20E;
}

.img-fluid {
  height: 300px !important;
  cursor: pointer;
  transition: transform 1s, filter 0.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
}

.img-fluid:hover {
  filter: brightness(100%);
  transform: scale(0.9);
}

.card-footer {
  background-color: #bec7ce;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 2cm;
  color: #ffffff;
}

.card-text {
  font-family: 'Lato', sans-serif;
  font-size: large;
  color: #727272;
}

.errorcont {
  margin: 0 auto;
  text-align: center;
  font-size: 2.3rem;
}

.mybtn {
background-color: #04AA6D;
color: white;
padding: 16px;
font-size: 16px;
border: none;
text-decoration: none;
border-radius: 10px;
}

.myhead {
  color: white;
  margin-top: 3px;
  text-align: center;
  color: #ffffff;
  font-family: 'Fredericka the Great', cursive;
  font-weight: 400;
  font-size: 1.8cm;
}



.dropbtn {
  border-radius: 10px;
}
