{% extends 'base.html.twig' %}

{% block title %}Week{% endblock %}

{% block body %}
    <h1>Week</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ week.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_week_index') }}">back to list</a>

    <a href="{{ path('app_week_edit', {'id': week.id}) }}">edit</a>

    {{ include('week/_delete_form.html.twig') }}
{% endblock %}
