{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/userform.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <div class="container myform">
    <h1>Edit User</h1>
    {{ include('user/_form.html.twig')}}
    <a class="btn btn-success mybtn" href="{{ path('app_user_index') }}">Users</a>
    </div>

{% endblock %}
